.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #83a4d4, #b6fbff);
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0051cb;
  }
  
  .button:disabled {
    background-color: #a6a6a6;
    cursor: not-allowed;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4a4a4a;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    min-width: 350px;
    font-size: 1rem;
    outline: none;
    margin-right: 1rem;
  }
  
  .generateButton {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .generateButton:hover {
    background-color: #0051cb;
  }
  
  .generateButton:disabled {
    background-color: #a6a6a6;
    cursor: not-allowed;
  }
  
  .imageContainer {
    width: 100%;
    max-width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
  }
  
  .imageContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .removeButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .removeButton:hover {
    background-color: #e01010;
  }
  
  .removeButton i {
    font-size: 1rem;
  }